<h2>所有訂單</h2>
<table class="table">
<thead>
<tr>
<td>#</td>
<td>下訂時間</td>
<td>訂單狀態</td>
</tr>
</thead>
<tbody>
<% @orders.each do |order| %>
<tr>
<td><%= link_to(order.id,order_path(order.token)) %></td>
<td><%= order.created_at.to_s(:long) %></td>
<td><%= render_order_state(order) %></td>
</tr>
<% end %>
</tbody>
</table>
