<table class="table table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>Buyer</th>
      <th>Price</th>
      <th>Status</th>
      <th>Created at</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody>
    <%= render @orders %>
  </tbody>
</table>
