<div class="row">
  <div class="col-md-12">
    <h2>Product Information (<%= render_order_paid_state(@order) %>) </h2>
    <%= render 'admin/orders/state_option', order: @order %>
    <%= render 'orders/product_info', order: @order, order_items: @order_items %>

    <hr>

    <h2>Order Information</h2>
    <%= render 'orders/order_info', order_info: @order_info %>
    <hr>
  </div>
</div>
