<h1>Hello World!</h1>

<h3>這是 artstore 的預設首頁</h3>

<br>

<p>如果您正在開發後台商品功能</p>

<br>

<a href="/admin/products/new">/admin/products/new</a> <== 點擊前往建立商品頁

<br><br>

<a href="/admin/products">/admin/products</a> <== 點擊前往商品列表頁 ( 如果尚未有商品資料，全空白是正常的 )

<br><br>

<hr>

<p>如果您正在開發使用者登入功能</p>

<br>

<a href="/user/sign_in">/user/sign_in</a> <== 點擊前往登入頁面

<p>建立一個有 admin 權限的 user 作法 <a href="http://courses.growthschool.com/courses/rails-e-commerce/lectures/429725" target="_blank">連結</a></p>
