<div class="row">
  <%= render :partial => "common/order_show" %>

  <% if !@order.paid? %>
    <div class="pull-right">
      <%= link_to("以信用卡付款", pay_with_credit_card_orders_path(@order.token), :class => "btn btn-primary btn-lg btn-danger ") %>
      <%= link_to("以 ATM 付款", "#", :class => "btn btn-primary btn-lg btn-danger ") %>
    </div>
  <% else %>
    此訂單已完成付款
  <% end %>

</div>
