// Place all the styles related to the admin::products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p.product-info {
  text-align: center;
  font-weight: bold;
}

.product-price{
  padding-top: 20px;
  padding-bottom: 20px;

  font-size: 30px;
  font-weight: bold;
  color: #ff007c;
}