<div class="row">
  <div class="col-md-12">
    <h2>購物明細</h2>
    <table>

    </table>

    <div>
      <span>
        <span>總計 xxx NTD</span>
      </span>
    </div>

    <hr>
    <h2>訂單資訊</h2>
    <div>


    </div>
  </div>
</div>
