<h4>Edit Product</h4>

<div class="row">
	<div class="col-lg-12">
		<div class="input-group input-group-lg">
			<%= render 'form' %>
		</div>
	</div>
</div>

<%= link_to "back", admin_products_path %>