<h1>後台管理 - 商品清單</h1>

<% @products.each_slice(3) do |products| %>
<div class="row">
	<% products.each do |product| %>
		<div class="col-md-4">
			<div class="product">
				<div class="image_wrapper">
					<% if product.default_photo.present? %>
						<%= link_to image_tag(product.default_photo.image.medium.url),admin_product_path(product) %>
					<% else %>
						<%= image_tag("http://placehold.it/200x200&text=No Pic") %>
					<% end %>
				</div>
				<h2><%= link_to product.title, admin_product_path(product)%></h2> 
				<%= link_to "修改", edit_admin_product_path(product), class: "btn btn-default" %>
			</div>
		</div>
	<% end %>	
</div>
<% end %>	

