<h2>後台管理</h2>
<%= link_to("新增",new_admin_product_path,class: "btn btn-default pull-right") %>

<ul>
  <% @products.each do |product| %>
    <li>
      <%= link_to(product.title, edit_admin_product_path(product)) %>
    </li>
    
  <% end %>
</ul>