<h2>使用者列表</h2>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>Email</th>
      <th>權限</th>
      <th>功能</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
          <%= user.id %>
        </td>
        <td>
          <%= user.email %>
        </td>
        <td>
          <% if user.admin? %>
          <%= link_to("轉為一般使用者", admin_user_to_normal_path(user), method: :post, class: "btn btn-info") %>
          <% else %>
          <%= link_to("轉為管理者", admin_user_to_admin_path(user), method: :post, class: "btn btn-primary") %>
          <% end %>
        </td>
        <td>
          轉換權限的按鈕 (待處理)
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
