<h2>使用者列表</h2>

<br>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>使用者帳號</th>
      <th>身份</th>
      <th>權限</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>

      <td>#</td>
      <td>
      <%= user.email %>
      </td>
      <% if !user.admin? %>
      <td>一般使用者</td>
      <td><%= link_to("轉為管理員", admin_user_to_admin_path(user), method: :post,
       class: "btn btn-danger") %></td>
       <% else %>
       <td>管理員</td>
      <td><%= link_to("轉為一般使用者", admin_user_to_normal_path(user),method: :post,
      class: "btn btn-info") %>
      <% end %>

    </tr>
          <% end %>
  </tbody>
</table>
