<h1>Users List</h1>
<table class="table">
  <thead>
    <th>使用者名稱</th>
    <th>目前角色</th>
    <th>操作</th>
  </thead>
  <% @users.each do |user| %>
    <tbody>
      <td><%= user.email %></td>
      <td><%= user.admin? ? '管理者' : '一般使用者' %></td>
      <td><%= button_to "轉換為#{user.admin? ? '一般使用者' : '管理者'}", admin_user_transfer_path(user) %></td>
    </tbody>
  <% end %>
</table>