<% @products.each_slice(3) do |products| %>
<div class="row">
	<% products.each do |product| %>
		<div class="col-md-4">
			<div class="product">
				<div class="image_wrapper">
					<%= link_to render_product_photo(product.default_photo, :medium), product %>
			    </div>
			    <h2><%= link_to product.title, product_path(product) %>  
			    $<%= product.price %></h2> 				
			</div>
		</div>
	<% end %>
</div>
<% end %>