<div class="container">
  <div class="row">
    
    <%= render "category_item", products: @products %>

    <div class="col-md-9">
      <%= render "slide_item", products: @products %>
      <%= render "product_item", products: @products %>

    </div>

  </div>
</div>
