<% @products.each_slice(3) do |products| %>
<div class="row">
	<% products.each do |product| %>
		<div class="col-md-4">
			<div class="product">
				<div class="image_wrapper">
					<% if product.default_photo.present? %>
						<%= link_to image_tag(product.default_photo.image.medium.url),product %>
					<% else %>
						<%= image_tag("http://placehold.it/200x200&text=No Pic") %>
			        <% end %>
			    </div>
			    <h2><%= link_to product.title, product_path(product) %>  
			    $<%= product.price %></h2> 				
			</div>
		</div>
	<% end %>
</div>
<% end %>