<h1> Product List </h1>

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th width="220">Product Pic</th>
        <th>Name</th>
        <th>Price</th>
        <th width="100"> Options</th>
      </tr>3
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td> <%= product.id %> </td>
          <td>  </td>
          <td> <%= product.title %> </td>
          <td> <%= product.price %> </td>
          <td>  </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>