<footer class="container" style="margin-top: 100px;">
  <p class="text-center">Copyright ©2016 Rails即戰力春季三班 wahaha
    <br>Design by <a href="courses.growthschool.com/courses/rails-101/" target=_new>xdite</a>
  </p>
</footer>